<base-card>
  <base-card-title expanded>
    <h2 class="mdl-card__title-text"></h2>
  </base-card-title>
  <base-card-body>
    <div>
      Faster smarter venture investing & startup funding

      VentureFlow helps venture investors mitigate risk, save time and reduce negligence by augmenting due diligence with AI. We offer legitimate and profitable portfolio companies to venture capital, private equity, angel investors, hedge funds, incubators, and our own venture fund.
    </div>
    <a href="https://www.ventureflow.ch/" target="_blank"> Venture Flow</a>
  </base-card-body>
</base-card>
